In [1]:
import pandas as pd
import numpy as np
import sqlite3
import sys
import time
import datetime

from datetime import datetime
from localSettings import *

In [9]:
filename = 'incoming/dane_hydrologiczne/2014/codz_2014_03.csv'

df = pd.read_csv(filename,encoding='windows-1250',header=None)
df.head()

           0         1         2     3  4  5    6     7     8  9
0  149180020  CHAŁUPKI  Odra (1)  2014  3  1  107  17.7  99.9  1
1  149180020  CHAŁUPKI  Odra (1)  2014  3  2  106  17.2  99.9  1
2  149180020  CHAŁUPKI  Odra (1)  2014  3  3  105  17.0  99.9  1
3  149180020  CHAŁUPKI  Odra (1)  2014  3  4  104  16.5  99.9  1
4  149180020  CHAŁUPKI  Odra (1)  2014  3  5  105  16.8  99.9  1

In [8]:

ww=pd.DataFrame(df.loc[:,0])
ww.head()
codes = ww.drop_duplicates()

           0
0  149180020
1  149180020
2  149180020
3  149180020
4  149180020

In [42]:

code = 149180020

daty = df[df[0]==code].iloc[:,[3,9,5]]
pomiary = df[df[0]==code].iloc[:,[6,7,8]]
dd=daty[3].map(str)+" "+daty[9].map(str)+" "+daty[5].map(str)

In [67]:
pd.to_datetime(dd+" 07:00")

0    2014-01-01 07:00:00
1    2014-01-02 07:00:00
2    2014-01-03 07:00:00
3    2014-01-04 07:00:00
4    2014-01-05 07:00:00
5    2014-01-06 07:00:00
6    2014-01-07 07:00:00
7    2014-01-08 07:00:00
8    2014-01-09 07:00:00
9    2014-01-10 07:00:00
10   2014-01-11 07:00:00
11   2014-01-12 07:00:00
12   2014-01-13 07:00:00
13   2014-01-14 07:00:00
14   2014-01-15 07:00:00
15   2014-01-16 07:00:00
16   2014-01-17 07:00:00
17   2014-01-18 07:00:00
18   2014-01-19 07:00:00
19   2014-01-20 07:00:00
20   2014-01-21 07:00:00
21   2014-01-22 07:00:00
22   2014-01-23 07:00:00
23   2014-01-24 07:00:00
24   2014-01-25 07:00:00
25   2014-01-26 07:00:00
26   2014-01-27 07:00:00
27   2014-01-28 07:00:00
28   2014-01-29 07:00:00
29   2014-01-30 07:00:00
30   2014-01-31 07:00:00
dtype: datetime64[ns]

In [57]:
index=pd.to_datetime(dd)
pd.DataFrame(data=pomiary)
pomiary=pomiary.rename(columns={6:'level',7:'discharge',8:'temperature'})
pomiary=pomiary.set_index(pd.to_datetime(dd))

In [62]:
pomiary['code']=code

In [64]:
pomiary=pomiary.replace('99.9','None')

            level  discharge temperature       code
2014-01-01    107       17.7        None  149180020
2014-01-02    106       17.2        None  149180020
2014-01-03    105       17.0        None  149180020
2014-01-04    104       16.5        None  149180020
2014-01-05    105       16.8        None  149180020
2014-01-06    110       18.8        None  149180020
2014-01-07    108       18.0        None  149180020
2014-01-08    106       17.3        None  149180020
2014-01-09    105       16.9        None  149180020
2014-01-10    111       19.3        None  149180020
2014-01-11    114       20.4        None  149180020
2014-01-12    113       20.4        None  149180020
2014-01-13    113       19.9        None  149180020
2014-01-14    111       19.2        None  149180020
2014-01-15    112       19.6        None  149180020
2014-01-16    111       19.4        None  149180020
2014-01-17    111       19.3        None  149180020
2014-01-18    111       19.1        None  149180020
2014-01-19    111       19.1        None  149180020
2014-01-20    113       19.9        None  149180020
2014-01-21    130       28.7        None  149180020
2014-01-22    141       35.4        None  149180020
2014-01-23    135       31.9        None  149180020
2014-01-24    129       28.1        None  149180020
2014-01-25    112       19.2        None  149180020
2014-01-26    106       15.5        None  149180020
2014-01-27    104       14.9        None  149180020
2014-01-28    111       18.6        None  149180020
2014-01-29    111       19.1        None  149180020
2014-01-30    108       18.0        None  149180020
2014-01-31    108       18.0        None  149180020

In [68]:
pomiary.shape[0]

31

In [83]:
ww=pd.DataFrame(df.loc[:,0])
codes = ww.drop_duplicates()
codes[0]

0        149180020
31       149180300
62       149180010
93       150180060
124      150180030
155      150170240
186      150170290
217      150170130
248      150170090
279      150170040
310      151170030
341      151160170
372      151160150
403      151160130
434      151160060
465      151150150
496      152150130
527      152150050
558      152140130
589      152140090
620      152140050
651      152140060
682      152140020
713      152140010
744      153140020
775      153140030
806      153140050
837      150170160
868      150170170
899      149180130
           ...
25545    153200170
25576    153200090
25607    153200120
25638    153200110
25669    153200100
25700    153200130
25731    154200040
25762    154210020
25793    153210030
25824    154210030
25855    154210050
25886    154210060
25917    154210070
25948    154210080
25979    154210100
26010    154220050
26041    154220110
26072    154220010
26103    154220100
26134    154230010
26165    154220080
26196    154220090
26227    154230020
26258    154230030
26289    153230120
26320    153230090
26351    154230040
26382    149220170
26413    149190240
26444    149190250
Name: 0, dtype: int64

In [91]:
pomiary.dtypes
pomiary.select_dtypes(level:float64)

SyntaxError: invalid syntax (<ipython-input-91-8894ffae61ae>, line 2)